{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farm Connect</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet" ">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/marketplace/">Marketplace</a></li>
          <li><a href="/investments/">Investments</a></li>
        </ul>
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>© 2024 Farm Connect. All rights reserved.</p>
    </footer>
  </body>
</html>
